@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

img {
  height: 230px;
  width: 318px;
}

h2{
  color: white;
  text-align: center;
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center; 
}

.image-div {
  margin: auto;
}

.hr-line {
  border-bottom: 2px solid #17c8ff;
  display: block;
  width: 50px;
  margin: -25px auto 0 auto;
}

@media only screen and (min-width: 425px) {
  img {
    height: 230px;
    width: 350px;
  } 
}

/*media queries for tablet*/
@media only screen and (min-width: 620px) {
  img {
    height: 230px;
    width: 318px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px 0;
    justify-content: center;
    grid-gap: 40px 10px;
    
  }
}

/*media queries for laptop*/
@media only screen and (min-width: 947px) {
  img {
    height: 270px;
    width: 500px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-left: 150px; 
  } 
}


 