@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --mainDark: #3a3e3b;
  --mainWhite: #fff;
  --mainGrey: #e4e4e4;
  --mainTransition: all 0.3s linear;
  --mainFont : "Poppins", sans-serif;
  --mainBlue: #17c8ff;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
}

a {
  text-decoration: none;
  color: var(--mainWhite);
}

a:active {
  color: var(--mainWhite);
  text-decoration: none;
}

 a:visited {
  color: var(--mainWhite);
}

p {
  font-family: var(--mainFont);
  
}
 a:hover {
  color: white;
}

.text-center {
  text-align: center;
}

h2{
  color: var(--mainWhite);
}

section {
  margin: auto;
  max-width: 100vw;
  overflow-x: hidden;
}

.hr-line {
  border-bottom: 2px solid #17c8ff;
  display: block;
  width: 50px;
  margin: -5px auto 2rem;
}

/* hamburger menu button */
#hamburger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 1.5rem;
  cursor: pointer; 
}

.show-links {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 70vw;
  top: 0;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
 /* transition: var(--mainTransition);
  transform: translateY(100);**/
}

nav{
  overflow: hidden;
  height: 0;
  position: relative;
}

li {
  list-style-type: none;
}

li>a {
  color: var(--mainWhite);
  transition: var(--mainTransition);
  font-size: 15px;
  font-family: var(--mainFont);
}

li>a:hover{
  color: var(--mainDark);
  padding-left: 0.5rem;
  text-decoration: none;
}

#close-icon {
 position: absolute;
 top: 2rem;
 right: 2rem;
 cursor: pointer;
}

.hr-nav{
  border-bottom: 1px solid var(--mainBlue);
  display: block;
  width: 65%;
}

.nav-items{
  padding-left: 1rem;
}

nav> div{
  padding-top: 10rem;
}

#social img {
  height: 25px;
  width: 25px;
  margin: 9rem 0.3rem 0;
}

#logo {
  width: 50px;
  height: 40px;
  margin: 30px;
}

#home {
  height: 100vh;
}

#intro-wrap {
  color: var(--mainGrey);
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0 1rem;
}

h1 {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  margin-bottom: -20px;
}

#motto {
  font-size: 15px;
  padding-top: 10px;
}

#description {
  margin: 13px auto;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7;
}

button {
  border-radius: 5px;
  text-align: center;
  margin-top: 0.8rem;
}

button>a:hover{
  text-decoration: none;
}

#learn {
  padding: 10px 40px;
  background-color: #17c8ff;
  border: none;
  margin-right: 0.7rem ;
}

#learn>a {
  color: #000;
}

#discuss {
  padding: 10px;
  background-color: inherit;
  border: 1px solid var(--mainBlue);
}

#discuss>a{
  color: var(--mainBlue);
}

#home-photo {
  display: none;
}

/*about us section*/
#about p{
  color: var(--mainGrey);
  background-color: #000;
  font-size: 13px;
  line-height: 2.0;
  word-spacing: 1px;
  margin: unset;
  padding-top: 1rem;
}

.about-photo {
   width: 80vw;
   height: 300px;
}

.about-page {
  padding: 2rem;
}

/*Portfolio style*/
#Portfolio {
   margin: 4rem 0;
}

.box {
  height: 330px;
  position: relative;
  width: 80vw;
  margin: 0 auto 2rem;  
}

#one {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#two {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

#three {
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

#four {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

#five {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

#six {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

#seven {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,162,200,1) 68%);
}

#eight {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.label {
  font-family: var(--mainFont);
  color: Black;
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  padding: 40px;
  font-weight: bold;
  font-size: 30px;
}

#Portfolio img {
  right: 0px;
  position: absolute;
  margin: 15px;
  width: 30px;
  height: 30px;
}

/*Carousel/Slider*/
@media screen and (min-width: 426px) {
  #small {
  display: none;
  }
}

@media screen and (max-width: 425px) {
  #slider {
    display: none;
    }
}
/*Carousel/Slider ends*/

/*What we do section*/
#work {
  margin: 5rem 0;
}

.services {
  background-color: #0f0f0f;
  border-radius:10px; 
  height: 250px;
  color: var(--mainWhite);
  padding: 1rem;
}

#work img {
 display: block;
 margin: 0 auto;
 height: 40px;
 width: 40px;
}

.work-image {
  padding-top: 15px;
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  background-color: black;
  border-radius: 50px;
}

#work p {
font-weight: 100;
padding-top: 10px;
font-size: 13px;
}

#contacts {
  color: var(--mainWhite);
}

.link {
  text-decoration: none;
}

#contacts img {
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto;
}

.imago {
  padding-top: 20px;
  height: 70px;
  width: 70px;
  border-radius: 70%;
  border: 1px solid var(--mainBlue); 
  display: block;
  margin: 0 auto; 
}

#contacts{
  padding-bottom: 4rem;
}

.in-touch1 {
  margin: 2rem 0 4rem;
}

#contacts p {
  margin-top: 1rem;
  font-size: 13px;
}

h4 {
  margin: 1rem 0;
}
/*footer styles*/
footer {
  color: var(--mainWhite);
  background-color: #0f0f0f;
  font-weight: 300;
  margin: 0px;
  font-family: var(--mainFont);
  font-size: 13px
}

.foot {
  height: 20px;
  width: 20px;
}

.first p{
text-align: left;
}

.logo-name{
  height: 30px;
  width: 100px;
}

.hr-footer {
  border-bottom: 2px solid var(--mainBlue);
  width: 40px;
  margin-top: -5px;
}

@media only screen and (min-width: 990px) {
 .second, .third {
   margin-top: 20px;
 }

 footer .container{
   padding-left: 100px;
   font-size: 17px;
 }

 .second{
   padding-left: 120px;
 }
}
/*footer styles end*/

/*media query for tablet*/
@media only screen and (min-width: 608px) {
  #hamburger, .hr-nav , #close-icon, #social{
    display: none;
  }

  nav{
    overflow: visible;
  }

  nav>div{
    padding-top: unset;
  }

  .nav-items{
    display: flex;
    justify-content: right;
    margin: -5rem 1rem 0 0;
  }

  li>a:hover{
    border-bottom: 1px solid var(--mainBlue);
  }

  #intro {
    width: 60vw;
    margin-left: 7rem;
  }

  h1 {
    font-size: 70px;
  }

  #description, #work p, #contacts p, footer p, footer a {
    font-size: 14px;
  }

  .wrapper{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 30px;
  }

  .box {
    width: 35vw;
  }

  .flex-box {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .paragraph-div {
    width: 50vw;
  }

  .about-photo {
    width: 40vw;
    height: inherit;
  
  }

  #about p {
    line-height: 1.7;
  }

  .services {
    width: 37vw;
    height: auto; 
  }
  
  #work{
    padding-left: 25px;
  }

  .wrap {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 3rem;
  }

  .in-touch1{
    margin: unset;
  }

}

@media only screen and (min-width: 980px) {
  #home{
    overflow: hidden; /**to remove the overflow the animation rotation brings*/
  }

  #intro-wrap {
    justify-content: center;
    gap: 2rem;
  }

  #intro {
    width: 40vw;
    margin: unset;
  }

  h1 {
    font-size: 80px;
  }

  #description {
    margin: 30px auto;
  }

  .wrapper{
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  #home-photo {
    display: block;
    width: 500px;
    height: 500px;
    animation: rotation 30s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .box {
    width: 25vw
  }

  .paragraph-div {
    width: 40vw;
  }

  .about-photo {
    width: 40vw;
  }

  #description, #about p, #contacts p, footer p, footer a {
    font-size: 15px;
  }

  .services{
    width: 25vw;
  }
}

/*general query for laptop*/
@media only screen and (min-width: 1200px) {
  #intro-wrap {
    gap: 4rem;
  }

  #intro {
    width: 35vw;
  }
  
  .box {
    width: 20vw
  }

  .paragraph-div {
    width: 30vw;
  }

  .about-photo {
    width: 30vw;
  }

  .services{
    width: 22vw;
  }

 }
 

















