/** {
  box-sizing: border-box;
}*/

body {
  background-color: black !important;
}

img {
  height: 330px;
  width: 370px;
}

h2{
  color: white;
}

.hr-line {
  border-bottom: 2px solid #17c8ff;
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}

.container{
  margin-top: -90px;
}

/*mobile view first*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 100px;
  justify-content: center;
  grid-gap: 40px 0px;
}


/*media queries for tablet*/
@media only screen and (min-width: 690px) {
  .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 150px;
  justify-content: center;
  grid-gap: 40px 20px;
  }
}

/*media queries for tablet*/
@media only screen and (min-width: 1000px) {
  .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding: 150px;
  justify-content: center;
  grid-gap: 40px 20px;
  }
}




/*footer styles*/
footer {
  color: white;
  background-color: #0f0f0f;
  font-weight: 300;
  margin:0px;
}

footer p{
  font-weight: 300 !important;
}

.foot {
  height: 20px;
  width: 20px;
}

.first p{
text-align: left;
}

.logo-name{
  height: 30px;
  width: 100px;
}

.hr-footer {
  border-bottom: 2px solid #17c8ff;
  width: 40px;
  margin-top: -5px;
}

@media only screen and (min-width: 990px) {
 .second, .third {
   margin-top: 20px;
 }

 footer .container{
   padding-left: 100px;
   font-size: 17px;
 }

 .second{
   padding-left: 120px;
 }
}
    

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: white;
  text-decoration: none;
}

/*visited link*/ 
 a:visited {
  color: white;
}

/* mouse over link */  
 a:hover {
  color: white;
}
